<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>用友-YS测试部-UI自动化</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
  <link rel="stylesheet" href="__CSS__/amazeui.admin.css">

</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><strong>用友-YS测试部</strong> <small>UI自动化</small></div>
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
  	<span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
  </button>
  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
	  <empty name="_SESSION['isCLogin']">
	     <!-- <li>
			  <a href="__APP__/Record" target=_blank>
				  <span class="glyphicon glyphicon-file"> 登录后台</span>
			  </a>
		  </li>  -->  		
	  <else />
	        <li>
				<span class="am-icon-user"><{$_SESSION['realname']}> </span> 
				<span class="am-icon-caret-down"></span>
			</li>       		         		        		             		
	  </empty>
    </ul>
  </div>
  
</header>
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar">     
    <ul class="am-list admin-sidebar-list">
      <li>
		  <a href="__APP__/<{$Think.config.PRODUCT}>/Index">
			<span class="glyphicon glyphicon-home"> 测试迭代</span>
		  </a>
	  </li>
      <li>
		  <a href="__APP__/<{$Think.config.PRODUCT}>/Task/personLoad">
			<span class="glyphicon glyphicon-user"> 测试投入</span>
		  </a>
	  </li>
	  <li>
		  <a href="__APP__/<{$Think.config.UPCAT}>/Index">
			<span class="glyphicon glyphicon-user"> 【Daily环境】报告</span>
		  </a>
	  </li>
	  <li>
		  <a href="__APP__/<{$Think.config.UPCAT}>/Index/pre">
			<span class="glyphicon glyphicon-user"> 【预发环境】报告</span>
		  </a>
	  </li>
	  <li>
		  <a href="__APP__/<{$Think.config.UPCAT}>/Index/master">
			<span class="glyphicon glyphicon-user"> 【生产环境】报告</span>
		  </a>
	  </li>
    </ul>
     <div class="am-panel am-panel-default admin-sidebar-panel">
	      <div class="am-panel-bd">
	        <p><span class="am-icon-bookmark"></span> 公告</p>
	        <p>时光静好，与君语；细水流年，与君同。—— Amaze</p>
	      </div>
     </div>
  </div> 
  <!-- sidebar end -->
